<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite"  verbose="4">

 <listeners>
		<listener class-name="com.harish.pagobject.Listeners" />
  </listeners>

  <test name="Test - CarHomeEMI">
    <classes>
          <class name="com.harish.testcases.CarHomeEMI_Test"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test - CreditCardEMI">
    <classes>
          <class name="com.harish.testcases.CreditCard_Test"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test - EducationEMI">
    <classes>
          <class name="com.harish.testcases.EducationEMI_Test"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- RegressionSuite -->

  
